* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main {
    margin: 20px auto;
}

div#buttons {
    --resolution: 400px;
    display: grid;
    border: 2px solid #0d0d0d;
    border-radius: 2px;
    width: var(--resolution);
    height: var(--resolution);
    max-height: 80%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 0px;
    padding: 3px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

div.buttons {
    border: 1px solid #0d0d0d;
    height: 100%;
    display: flex;
    align-items: center;
justify-content: center;
}